/* GENERAL STYLES */

/* colors
#2C3639 - darker
#3F4E4F - lighter
#A27B5C - orangey
#DCD7C9 - taupe */

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* HEADER & FOOTER */

#logo {
    max-width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

nav {
    padding: 20px auto 10px auto;
    border-top: 3px solid #A27B5C;
    border-bottom: 3px solid #A27B5C;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

li a {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #A27B5C;
}

li a:hover {
    color: #3F4E4F;
}

.social-icon {
    max-width: 30px;
}

footer nav {
    margin-top: 20px;
}

#footer-logo {
    display: block;
    max-width: 15%;
    margin: 30px auto 20px auto;
}

#copyright {
    display: block;
    margin: 20px auto;
    text-align: center;
}

/* MAIN */

main {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-around;

 /* padding-left: 100px; */
 padding-top: 50px;
 padding-bottom: 50px;
 padding-right: 200px;
}

main img {
    max-width: 30%;
    margin-left: 200px;
    box-shadow: 10px 10px 5px #DCD7C9;
}

main .info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
}

main p {
    font-family: "Playfair Display", serif;
    text-align: center;
}

.container {
    /* background-color: #DCD7C9; */
    background-color: rgba(162,123, 92, 0.4) ;
    padding-top: 25px;
    padding-bottom: 50px;
}

h1, h2, h3 {
    display: block;
    /* margin: 0 auto 50px auto; */
    text-align: center;
    color: #2C3639;
}

h1, h2 {
    font-family: "Passions Conflict";
    font-size: 3em;
}

h3 {
    font-family: "Playfair Display", serif;
}

form {
    display: grid;
    grid-template-columns: 60%;
    grid-template-rows: repeat(8);
    justify-content: center;
}

form label {
    color: #2C3639;
    font-family: "Playfair Display", serif;
}

button {
    font-family: "Passions Conflict";
    font-size: 2em;
    color: #2C3639;
    background-color: #A27B5C;
    border: 4px solid #DCD7C9;
    border-radius: 20px;
    display: block;
    padding: 10px 20px;
    margin: 40px auto 0 auto;
}

/* MEDIA QUERIES & RESPONSIVENESS */

/* tablet ok */

@media screen and (max-width: 425px) {
    #logo {
        max-width: 50%;
    }
    #footer-logo {
        max-width: 50%;
    }
    ul {
        justify-content: space-around;
    }
    .social-icon {
        max-width: 20px;
    }
}