/* GENERAL STYLES */

/* colors
#2C3639 - darker
#3F4E4F - lighter
#A27B5C - orangey
#DCD7C9 - taupe */

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* HEADER & FOOTER */

#logo {
    max-width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

nav {
    padding: 20px auto 10px auto;
    border-top: 3px solid #A27B5C;
    border-bottom: 3px solid #A27B5C;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

li a {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #A27B5C;
}

li a:hover {
    color: #3F4E4F;
}

.social-icon {
    max-width: 30px;
}

#footer-logo {
    display: block;
    max-width: 15%;
    margin: 30px auto 20px auto;
}

#copyright {
    display: block;
    margin: 20px auto;
    text-align: center;
}

/* MAIN */

main {
    /* background-color: #DCD7C9; */
    /* background-color: rgba(44,54,57, 0.5) ; */
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    display: block;
    margin: 0 auto 50px auto;
    font-family: "Passions Conflict";
    font-size: 4em;
    text-align: center;
    color: #3F4E4F;
}

.product {
    /* border: 5px solid #A27B5C; */
    border: 5px solid #3F4E4F;
    /* box-shadow: 10px 10px 5px #DCD7C9; */
    max-height: 100%;
    max-width: 300px;

}

.name {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #3F4E4F;
}

.price {
    color: #2C3639;
}

.description {
    font-size: 14px;
}

button {
    font-family: "Playfair Display", serif;
    /* font-size: 1.25em; */
    font-weight: bold;
    color: #2C3639;
    background-color: #A27B5C;
    border: 4px solid #DCD7C9;
    border-radius: 20px;
    display: block;
    padding: 10px 20px;
    margin: 20px auto 0 auto;
}

button:hover {
    color: #A27B5C;
    background-color: #DCD7C9;
}

/* GRID */
/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: repeat(4);
    column-gap: 40px;
    row-gap: 50px;
    justify-content: center;
}

#container-product-1 {
    grid-area: 1 / 1 / 2 / 2;
}

#container-product-2 {
    grid-area: 1 / 2 / 2 / 3;
}

#container-product-3 {
    grid-area: 1 / 3 / 2 / 4;
}

/* MEDIA QUERIES & RESPONSIVENESS */

@media screen and (max-width: 1015px) {
    /* GRID */
    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 310px);
        grid-template-rows: repeat(6);
        column-gap: 40px;
        row-gap: 50px;
        justify-content: center;
    }
    
    #container-product-1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    #container-product-2 {
        grid-area: 1 / 2 / 2 / 3;
    }
    
    #container-product-3 {
        grid-area: 2 / 1 / 3 / 2;
    }  
}

@media screen and (max-width: 768px){
    #footer-logo {
        max-width: 25%;
    } 
    /* maybe change this? review/test it */
}


/* ********************************* */

@media screen and (max-width: 670px) {
    #logo {
        max-width: 50%;
    }
    #footer-logo {
        max-width: 70%;
    }
    ul {
        justify-content: space-around;
    }
    .social-icon {
        max-width: 20px;
    }

    /* GRID */
    .products-container {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(12);
        row-gap: 50px;
        justify-content: center;
        text-align: center;
        
    } 
    
    #container-product-1 {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    #container-product-2 {
        grid-area: 2 / 1 / 2 / 2;
    }
    
        
    #container-product-3 {
        grid-area: 3 / 1 / 4 / 2;
    }    
}


/* ********************************* */

@media screen and (max-width: 425px) {
    header .social-icon {
        display: none;
    }

    footer ul  {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    /* footer .social-container {
        width: 100%;
        display: flex;
    }

    footer .social-icon {
        text-align: center;
    } */
}